<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div align='center'>
            <h1> Global Software Development Agile </h1>
        </div>
        <br>
        <div align='left'>
            <h3 style="color:black;"> The tool for the management of global software teams, working under agile methodologies.</h3>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-6 col-xs-6">
        <div style="color:rgb(12, 122, 173);">
            <h4>* Plan and organize the process</h4>
            <br>
            <h4>* Manage the project</h4>
            <br>
            <h4>* Collaborate in the development</h4>
            <br>
            <h4>* Check the software</h4>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-6">
            <img src="../../assets/images/Main.PNG" style=" ">
    </div>
</div>