<br>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div align='center'>
            <h1>INFORMATION PRACTICES</h1>
        </div>
        <br>
        <br>
        <div align='left'>
            <h3 style="color:black;"> Following the good practices let us to guide the GSD projects to the proposed objectives and to the fine administration of the teams.</h3>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-6 col-xs-6">
        <div style="color:rgb(12, 122, 173);">
            <h4>* Through the framework you get potential to stimulate innovation, share knowledge and have access to a broad set of skills
                and diverse practices</h4>
            <br>
            <h4>* A common set of tools shared by all sites, including a configuration management system that stores design documents and
                proceedings of meetings, in addition to the source code and their respective versions, to facilitate collaboration</h4>
            <br>
            <h4>* Use of synchronous and asynchronous communication media. Asynchronous as email, wikis and to some extent, instant messaging
                that are especially useful for transmitting detailed technical information. Synchronous communication technology,
                such as video conferencing, is appropriate for highly interactive discussions where body language and intonation
                can convey the degree of understanding or agreement among participants</h4>
            <br>
            <h4>* Face-to-face meetings, either virtual (videoconference) or in person, by having members of the remote team visit the
                site. They indicate that it has a series of benefits, since face-to-face communication provides visual clues and
                a highly interactive conversation, which improves understanding</h4>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-6">
        <img src="../../assets/images/Main.PNG" style=" ">
    </div>
</div>