<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./assets/css/search.css">

<!-- The form -->
<br>
<br>
<br>
<br>
<br>
<br>
<div align='center'>
    <h1>Search in GSD</h1>    
</div>
<br>
<div align='center'>
  <form class="example col-md-5" action="">
    <input type="text" placeholder="Search..." name="search">
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>