<br>
<div align='center'>
    <h1>Integration Tools</h1>
</div>

<br/>
<div class="row" align='center'>
    <div class="col-sm-6">
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="col-sm-3">
            <div>
                <a href="https://github.com/" target="blank" class="btn btn-default btn-lg" title="GitHub is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside millions of other developers.">
                    <i class="fa fa-github icons"></i> GitHub</a>
            </div>
            <br/>
        </div>
        <div class="col-sm-3">
            <a href="https://www.skype.com/en/" target="blank" class="btn btn-default btn-lg" title="Enjoy video calls and free calls on Skype or discover some of the many features that will help you keep in touch. The complete solution for meetings with all the free features. Record meetings, share your screen and make notes in PowerPoint to achieve a real-time collaboration with up to 250 people. Use whiteboards, polls, question and answer sessions, and integrated instant messaging during your business meetings to make them more productive.">
                <i class="fa fa-skype"></i> Skype</a>
        </div>
        <br/>
        <div class="col-sm-3">
            <a href="https://www.dropbox.com/" target="blank" class="btn btn-default btn-lg" title="Dropbox collects all your files in a single centralized place. You can search for them easily, and they are synchronized on all your devices so you can access them at any time, wherever you are. You will not have to spend hours and hours looking for your work.">
                <i class="fa fa-dropbox"></i> Dropbox</a>
        </div>
    </div>
    <div class="col-sm-6">
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="col-sm-3">
            <a href="https://jira.atlassian.com/" target="blank" class="btn btn-default btn-lg" title="Jira is designed so that all the members of your software team can plan and publish a great software, as well as track it. Create user stories and incidents, plan sprints and distribute tasks among your software team. Prioritize and analyze the work of your team in its context and with full visibility. Improve the performance of the team with visual data in real time that your team can use.">
                <i class="fa fa-street-view"></i> Jira</a>
        </div>
        <br/>
        <div class="col-sm-3">
            <a href="https://www.visualstudio.com/es/team-services/" target="blank" class="btn btn-default btn-lg" title="Service in the cloud to collaborate in the development of code. Git repositories for source code control, integration and continuous delivery of your applications, tools to help with planning and tracking your work, code defects and problems with Kanban and Scrum methods and embedded Wiki to share information with your equipment">
                <i class="fa fa-tasks"></i> VSTS</a>
        </div>
        <br/>
        <div class="col-sm-3">
            <a href="https://www.google.com/drive/" target="blank" class="btn btn-default btn-lg" title="Save photos, articles, designs, drawings, recordings, videos or whatever you want. You can access your Drive files from any smartphone, tablet or computer. So, wherever you go, you will always carry your files with you. You can easily invite other users to see all the files you want as well as download and work on them in real time, without the need to send attachments by email.">
                <i class="fa fa-sellsy"></i> Google Drive</a>
        </div>
    </div>
</div>